@charset "UTF-8";

/* -----------------------------------------------------------
CSS Information

File name : default.css

[index]

1.Reset
2.Base
3.Link

----------------------------------------------------------- */

/* 1= Reset
----------------------------------------------------*/
html {
	overflow-y: scroll;
}

body {
	height: 100%;
	background: #fff;
	font-size: 16px;
	text-align: center;
     -webkit-text-size-adjust: 100%;
}

select,
input,
textarea {
	font-size: 99%;
}

html,body,div,
ul,ol,li,dl,dt,dd,
form,fieldset,input,textarea,
h1,h2,h3,h4,h5,h6,pre,code,p,blockquote,hr,
th,td {
	margin: 0;
	padding: 0;
}

address,caption,cite,code,dfn,strong,th,var {
	font-style: normal;
}


table {
	margin: 0 0 20px 0;
}

/* strict reset by uncommenting lines below */
address,caption,cite,code,dfn,em,strong,b,u,s,i,th,var {
    /* font-style: normal; */
    /* font-weight: normal; */
}

q:before,q:after {
	content: '';
}


img,abbr,acronym,fieldset {
	border: 0;
}


p {
	line-height: 170%;
}

ol,ul {
	list-style: none;
}


/* 2= Base
----------------------------------------------------*/

body {
	color: #423938;
	font-family:'Lucida Grande', 'Lucida Sans Unicode',  'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', Helvetica, Arial, Verdana, sans-serif;
}

.pageTop{
	margin: 30px auto 0;
	text-align: right;
	width: 950px;
}

table.simpleTable{
	border: 1px #423938 solid;
	border-collapse:collapse;
	margin: 0;
}

table.simpleTable th,
table.simpleTable td{
	border: 1px #423938 solid;
	padding: 3px;
}

table.simpleTable th.chargeTitle{
	color: #FFF;
	background:#423938;
	font-weight:normal;
}

/* 3= Link
----------------------------------------------------*/

a:link {
	color: #423938;
	text-decoration: none;
}

a:visited {
	color: #423938;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul#navi a:hover {
	text-decoration: none;
	border-bottom: 5px solid #f26b66;
}

ul#navi li.current a {
	text-decoration: none;
	border-bottom: 5px solid #f26b66;
}


a:active {
	text-decoration: none;
}